terraform {
  backend "s3" {
    bucket         = "replace-with-bootstrap-state-bucket"
    key            = "supportportal/ecs-production/terraform.tfstate"
    region         = "us-east-1"
    dynamodb_table = "supportportal-terraform-locks"
    encrypt        = true
  }
}
